<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">    
        <script type='text/javascript' src="{{ url_for('static', filename='index.js') }}"></script>
        <script>
            window.onload = changeColor
        </script>    
    </head>
    <body>
        <div class="canvas col-sm-12 col-md-12 col-lg-7">
            <h1>Distinct Colors Data Collection</h1>
            <p class='testsite'>Can you see me clearly?</p>
            <div class="buttonCanvas">
                <button id="yes" onclick="isDistinct()">Yes</button>
                <button id="no" onclick="notDistinct()">No</button>
            </div>
        </div>
        <script>

        </script>
    </body>
</html>